In [1]:
import numpy as np # type: ignore
import pandas as pd # type: ignore
import matplotlib.pyplot as plt # type: ignore
%matplotlib inline
import seaborn as sns # type: ignore

import warnings
warnings.simplefilter("ignore")

In [2]:
data = pd.read_csv('CarPrice_Assignment.csv')
data.head(5)

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [3]:
data.shape

(205, 26)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [5]:
data.isnull().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [6]:
data.duplicated().sum()

0

In [7]:
data.drop(columns=['car_ID'],inplace=True)
data.head()

,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [8]:
data['enginelocation'].unique().tolist()

['front', 'rear']

In [9]:
data.CarName.iloc[0]

'alfa-romero giulia'

In [10]:
data.CarName.iloc[0].split()

['alfa-romero', 'giulia']

In [11]:
data.CarName.iloc[0].split()[0]

'alfa-romero'

In [12]:
data['CarCompanyName'] = data['CarName'].apply(lambda x:x.split()[0])

In [13]:
data['CarCompanyName'].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'maxda', 'mazda', 'buick', 'mercury',
       'mitsubishi', 'Nissan', 'nissan', 'peugeot', 'plymouth', 'porsche',
       'porcshce', 'renault', 'saab', 'subaru', 'toyota', 'toyouta',
       'vokswagen', 'volkswagen', 'vw', 'volvo'], dtype=object)

In [14]:
data.groupby('CarCompanyName')['CarCompanyName'].agg('count')

CarCompanyName
Nissan          1
alfa-romero     3
audi            7
bmw             8
buick           8
chevrolet       3
dodge           9
honda          13
isuzu           4
jaguar          3
maxda           2
mazda          15
mercury         1
mitsubishi     13
nissan         17
peugeot        11
plymouth        7
porcshce        1
porsche         4
renault         2
saab            6
subaru         12
toyota         31
toyouta         1
vokswagen       1
volkswagen      9
volvo          11
vw              2
Name: CarCompanyName, dtype: int64

In [15]:
data.columns

Index(['symboling', 'CarName', 'fueltype', 'aspiration', 'doornumber',
       'carbody', 'drivewheel', 'enginelocation', 'wheelbase', 'carlength',
       'carwidth', 'carheight', 'curbweight', 'enginetype', 'cylindernumber',
       'enginesize', 'fuelsystem', 'boreratio', 'stroke', 'compressionratio',
       'horsepower', 'peakrpm', 'citympg', 'highwaympg', 'price',
       'CarCompanyName'],
      dtype='object')

In [16]:
data.drop(columns=['CarName'],inplace=True)
data.head()

,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,...,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,CarCompanyName
0,3,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0,alfa-romero
1,3,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0,alfa-romero
2,1,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0,alfa-romero
3,2,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,...,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0,audi
4,2,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,...,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0,audi

In [17]:
data["CarCompanyName"].replace("alfa-romero","alfa-romeo", inplace=True)
data["CarCompanyName"].replace("maxda","mazda", inplace=True)
data["CarCompanyName"].replace("Nissan","nissan", inplace=True)
data["CarCompanyName"].replace("porcshce","porsche", inplace=True)
data["CarCompanyName"].replace("toyouta","toyota", inplace=True)
data["CarCompanyName"].replace("porcshce","porsche", inplace=True)
data["CarCompanyName"].replace("vokswagen","volkswagen", inplace=True)
data["CarCompanyName"].replace("vw","volkswagen", inplace=True)

In [18]:
data['CarCompanyName'].unique()

array(['alfa-romeo', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'buick', 'mercury', 'mitsubishi',
       'nissan', 'peugeot', 'plymouth', 'porsche', 'renault', 'saab',
       'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [19]:
categorical_features = data.dtypes == object
list_categorical_features = data.columns[categorical_features].tolist()

In [20]:
list_categorical_features

['fueltype',
 'aspiration',
 'doornumber',
 'carbody',
 'drivewheel',
 'enginelocation',
 'enginetype',
 'cylindernumber',
 'fuelsystem',
 'CarCompanyName']

In [21]:
data[list_categorical_features]

,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,enginetype,cylindernumber,fuelsystem,CarCompanyName
0,gas,std,two,convertible,rwd,front,dohc,four,mpfi,alfa-romeo
1,gas,std,two,convertible,rwd,front,dohc,four,mpfi,alfa-romeo
2,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi,alfa-romeo
3,gas,std,four,sedan,fwd,front,ohc,four,mpfi,audi
4,gas,std,four,sedan,4wd,front,ohc,five,mpfi,audi
...,...,...,...,...,...,...,...,...,...,...
200,gas,std,four,sedan,rwd,front,ohc,four,mpfi,volvo
201,gas,turbo,four,sedan,rwd,front,ohc,four,mpfi,volvo
202,gas,std,four,sedan,rwd,front,ohcv,six,mpfi,volvo
203,diesel,turbo,four,sedan,rwd,front,ohc,six,idi,volvo
204,gas,turbo,four,sedan,rwd,front,ohc,four,mpfi,volvo

In [22]:
numerical_features = data.dtypes != object
list_numerical_features = data.columns[numerical_features].tolist()

In [23]:
list_numerical_features

['symboling',
 'wheelbase',
 'carlength',
 'carwidth',
 'carheight',
 'curbweight',
 'enginesize',
 'boreratio',
 'stroke',
 'compressionratio',
 'horsepower',
 'peakrpm',
 'citympg',
 'highwaympg',
 'price']

In [24]:
data[list_numerical_features]

,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27,13495.0
1,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27,16500.0
2,1,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154,5000,19,26,16500.0
3,2,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102,5500,24,30,13950.0
4,2,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,109.1,188.8,68.9,55.5,2952,141,3.78,3.15,9.5,114,5400,23,28,16845.0
201,-1,109.1,188.8,68.8,55.5,3049,141,3.78,3.15,8.7,160,5300,19,25,19045.0
202,-1,109.1,188.8,68.9,55.5,3012,173,3.58,2.87,8.8,134,5500,18,23,21485.0
203,-1,109.1,188.8,68.9,55.5,3217,145,3.01,3.40,23.0,106,4800,26,27,22470.0
204,-1,109.1,188.8,68.9,55.5,3062,141,3.78,3.15,9.5,114,5400,19,25,22625.0

In [25]:
data.shape

(205, 25)

In [26]:
categorical_features1 = data.dtypes==object
list_categorical_features1 = data.columns[categorical_features1].tolist()

In [27]:
list_categorical_features1

['fueltype',
 'aspiration',
 'doornumber',
 'carbody',
 'drivewheel',
 'enginelocation',
 'enginetype',
 'cylindernumber',
 'fuelsystem',
 'CarCompanyName']

In [28]:
numerical_features1 = data.dtypes!=object
list_numerical_features1 = data.columns[numerical_features1].tolist()

In [29]:
data.drop(columns=['aspiration','doornumber','drivewheel','enginelocation','cylindernumber','fuelsystem','boreratio','stroke','compressionratio','enginesize'],inplace=True)
data.head()

,symboling,fueltype,carbody,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,horsepower,peakrpm,citympg,highwaympg,price,CarCompanyName
0,3,gas,convertible,88.6,168.8,64.1,48.8,2548,dohc,111,5000,21,27,13495.0,alfa-romeo
1,3,gas,convertible,88.6,168.8,64.1,48.8,2548,dohc,111,5000,21,27,16500.0,alfa-romeo
2,1,gas,hatchback,94.5,171.2,65.5,52.4,2823,ohcv,154,5000,19,26,16500.0,alfa-romeo
3,2,gas,sedan,99.8,176.6,66.2,54.3,2337,ohc,102,5500,24,30,13950.0,audi
4,2,gas,sedan,99.4,176.6,66.4,54.3,2824,ohc,115,5500,18,22,17450.0,audi

In [30]:
list_numerical_features1

['symboling',
 'wheelbase',
 'carlength',
 'carwidth',
 'carheight',
 'curbweight',
 'enginesize',
 'boreratio',
 'stroke',
 'compressionratio',
 'horsepower',
 'peakrpm',
 'citympg',
 'highwaympg',
 'price']

In [31]:
data3 = data.copy()

In [32]:
data3.head()

,symboling,fueltype,carbody,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,horsepower,peakrpm,citympg,highwaympg,price,CarCompanyName
0,3,gas,convertible,88.6,168.8,64.1,48.8,2548,dohc,111,5000,21,27,13495.0,alfa-romeo
1,3,gas,convertible,88.6,168.8,64.1,48.8,2548,dohc,111,5000,21,27,16500.0,alfa-romeo
2,1,gas,hatchback,94.5,171.2,65.5,52.4,2823,ohcv,154,5000,19,26,16500.0,alfa-romeo
3,2,gas,sedan,99.8,176.6,66.2,54.3,2337,ohc,102,5500,24,30,13950.0,audi
4,2,gas,sedan,99.4,176.6,66.4,54.3,2824,ohc,115,5500,18,22,17450.0,audi

In [33]:
dummies = pd.get_dummies(data3[['fueltype','carbody','enginetype','CarCompanyName']])
dummies.head()

,fueltype_diesel,fueltype_gas,carbody_convertible,carbody_hardtop,carbody_hatchback,carbody_sedan,carbody_wagon,enginetype_dohc,enginetype_dohcv,enginetype_l,...,CarCompanyName_nissan,CarCompanyName_peugeot,CarCompanyName_plymouth,CarCompanyName_porsche,CarCompanyName_renault,CarCompanyName_saab,CarCompanyName_subaru,CarCompanyName_toyota,CarCompanyName_volkswagen,CarCompanyName_volvo
0,False,True,True,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,True,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,True,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,True,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [34]:
data4 = pd.concat([data3,dummies],axis=1)
data4.head()

,symboling,fueltype,carbody,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,horsepower,...,CarCompanyName_nissan,CarCompanyName_peugeot,CarCompanyName_plymouth,CarCompanyName_porsche,CarCompanyName_renault,CarCompanyName_saab,CarCompanyName_subaru,CarCompanyName_toyota,CarCompanyName_volkswagen,CarCompanyName_volvo
0,3,gas,convertible,88.6,168.8,64.1,48.8,2548,dohc,111,...,False,False,False,False,False,False,False,False,False,False
1,3,gas,convertible,88.6,168.8,64.1,48.8,2548,dohc,111,...,False,False,False,False,False,False,False,False,False,False
2,1,gas,hatchback,94.5,171.2,65.5,52.4,2823,ohcv,154,...,False,False,False,False,False,False,False,False,False,False
3,2,gas,sedan,99.8,176.6,66.2,54.3,2337,ohc,102,...,False,False,False,False,False,False,False,False,False,False
4,2,gas,sedan,99.4,176.6,66.4,54.3,2824,ohc,115,...,False,False,False,False,False,False,False,False,False,False

In [35]:
data4.drop(columns=['fueltype','carbody','enginetype','CarCompanyName'],axis=1,inplace=True)
data4.head()

,symboling,wheelbase,carlength,carwidth,carheight,curbweight,horsepower,peakrpm,citympg,highwaympg,...,CarCompanyName_nissan,CarCompanyName_peugeot,CarCompanyName_plymouth,CarCompanyName_porsche,CarCompanyName_renault,CarCompanyName_saab,CarCompanyName_subaru,CarCompanyName_toyota,CarCompanyName_volkswagen,CarCompanyName_volvo
0,3,88.6,168.8,64.1,48.8,2548,111,5000,21,27,...,False,False,False,False,False,False,False,False,False,False
1,3,88.6,168.8,64.1,48.8,2548,111,5000,21,27,...,False,False,False,False,False,False,False,False,False,False
2,1,94.5,171.2,65.5,52.4,2823,154,5000,19,26,...,False,False,False,False,False,False,False,False,False,False
3,2,99.8,176.6,66.2,54.3,2337,102,5500,24,30,...,False,False,False,False,False,False,False,False,False,False
4,2,99.4,176.6,66.4,54.3,2824,115,5500,18,22,...,False,False,False,False,False,False,False,False,False,False

In [36]:
data4.head().T

                                 0        1        2        3        4
symboling                        3        3        1        2        2
wheelbase                     88.6     88.6     94.5     99.8     99.4
carlength                    168.8    168.8    171.2    176.6    176.6
carwidth                      64.1     64.1     65.5     66.2     66.4
carheight                     48.8     48.8     52.4     54.3     54.3
curbweight                    2548     2548     2823     2337     2824
horsepower                     111      111      154      102      115
peakrpm                       5000     5000     5000     5500     5500
citympg                         21       21       19       24       18
highwaympg                      27       27       26       30       22
price                      13495.0  16500.0  16500.0  13950.0  17450.0
fueltype_diesel              False    False    False    False    False
fueltype_gas                  True     True     True     True     True
carbody_convertible           True     True    False    False    False
carbody_hardtop              False    False    False    False    False
carbody_hatchback            False    False     True    False    False
carbody_sedan                False    False    False     True     True
carbody_wagon                False    False    False    False    False
enginetype_dohc               True     True    False    False    False
enginetype_dohcv             False    False    False    False    False
enginetype_l                 False    False    False    False    False
enginetype_ohc               False    False    False     True     True
enginetype_ohcf              False    False    False    False    False
enginetype_ohcv              False    False     True    False    False
enginetype_rotor             False    False    False    False    False
CarCompanyName_alfa-romeo     True     True     True    False    False
CarCompanyName_audi          False    False    False     True     True
CarCompanyName_bmw           False    False    False    False    False
CarCompanyName_buick         False    False    False    False    False
CarCompanyName_chevrolet     False    False    False    False    False
CarCompanyName_dodge         False    False    False    False    False
CarCompanyName_honda         False    False    False    False    False
CarCompanyName_isuzu         False    False    False    False    False
CarCompanyName_jaguar        False    False    False    False    False
CarCompanyName_mazda         False    False    False    False    False
CarCompanyName_mercury       False    False    False    False    False
CarCompanyName_mitsubishi    False    False    False    False    False
CarCompanyName_nissan        False    False    False    False    False
CarCompanyName_peugeot       False    False    False    False    False
CarCompanyName_plymouth      False    False    False    False    False
CarCompanyName_porsche       False    False    False    False    False
CarCompanyName_renault       False    False    False    False    False
CarCompanyName_saab          False    False    False    False    False
CarCompanyName_subaru        False    False    False    False    False
CarCompanyName_toyota        False    False    False    False    False
CarCompanyName_volkswagen    False    False    False    False    False
CarCompanyName_volvo         False    False    False    False    False

In [37]:
X = data4.drop(columns=['price'])
X

,symboling,wheelbase,carlength,carwidth,carheight,curbweight,horsepower,peakrpm,citympg,highwaympg,...,CarCompanyName_nissan,CarCompanyName_peugeot,CarCompanyName_plymouth,CarCompanyName_porsche,CarCompanyName_renault,CarCompanyName_saab,CarCompanyName_subaru,CarCompanyName_toyota,CarCompanyName_volkswagen,CarCompanyName_volvo
0,3,88.6,168.8,64.1,48.8,2548,111,5000,21,27,...,False,False,False,False,False,False,False,False,False,False
1,3,88.6,168.8,64.1,48.8,2548,111,5000,21,27,...,False,False,False,False,False,False,False,False,False,False
2,1,94.5,171.2,65.5,52.4,2823,154,5000,19,26,...,False,False,False,False,False,False,False,False,False,False
3,2,99.8,176.6,66.2,54.3,2337,102,5500,24,30,...,False,False,False,False,False,False,False,False,False,False
4,2,99.4,176.6,66.4,54.3,2824,115,5500,18,22,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,109.1,188.8,68.9,55.5,2952,114,5400,23,28,...,False,False,False,False,False,False,False,False,False,True
201,-1,109.1,188.8,68.8,55.5,3049,160,5300,19,25,...,False,False,False,False,False,False,False,False,False,True
202,-1,109.1,188.8,68.9,55.5,3012,134,5500,18,23,...,False,False,False,False,False,False,False,False,False,True
203,-1,109.1,188.8,68.9,55.5,3217,106,4800,26,27,...,False,False,False,False,False,False,False,False,False,True
204,-1,109.1,188.8,68.9,55.5,3062,114,5400,19,25,...,False,False,False,False,False,False,False,False,False,True

In [38]:
y = data4.price
y.head()

0    13495.0
1    16500.0
2    16500.0
3    13950.0
4    17450.0
Name: price, dtype: float64

In [39]:
'''X['doornumber'].replace({'two': 0, 'four': 1}, inplace=True)
X['aspiration'].replace({'std': 0, 'turbo':1}, inplace=True)
X['drivewheel'].replace({'rwd': 0, 'fwd': 1,'4wd':2}, inplace=True)
X['enginelocation'].replace({'front': 0,'rear':1},inplace=True)
X['fuelsystem'].replace({'mpfi':0,'2bbl':1,'idi':2,'1bbl':3,'spdi':4,'4bbl':5,'mfi':6,'spfi':7},inplace=True)
X['cylindernumber'].replace({'four':0,'six':1,'five':2,'eight':3,'two':4,'three':5,'twelve':6},inplace=True)
'''
X.info()
#X['cylindernumber'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 46 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   symboling                  205 non-null    int64
 1   wheelbase                  205 non-null    float64
 2   carlength                  205 non-null    float64
 3   carwidth                   205 non-null    float64
 4   carheight                  205 non-null    float64
 5   curbweight                 205 non-null    int64
 6   horsepower                 205 non-null    int64
 7   peakrpm                    205 non-null    int64
 8   citympg                    205 non-null    int64
 9   highwaympg                 205 non-null    int64
 10  fueltype_diesel            205 non-null    bool
 11  fueltype_gas               205 non-null    bool
 12  carbody_convertible        205 non-null    bool
 13  carbody_hardtop            205 non-null    bool
 14  carbody_hatchback          205 non-null    bool
 15  carbody_sedan              205 non-null    bool
 16  carbody_wagon              205 non-null    bool
 17  enginetype_dohc            205 non-null    bool
 18  enginetype_dohcv           205 non-null    bool
 19  enginetype_l               205 non-null    bool
 20  enginetype_ohc             205 non-null    bool
 21  enginetype_ohcf            205 non-null    bool
 22  enginetype_ohcv            205 non-null    bool
 23  enginetype_rotor           205 non-null    bool
 24  CarCompanyName_alfa-romeo  205 non-null    bool
 25  CarCompanyName_audi        205 non-null    bool
 26  CarCompanyName_bmw         205 non-null    bool
 27  CarCompanyName_buick       205 non-null    bool
 28  CarCompanyName_chevrolet   205 non-null    bool
 29  CarCompanyName_dodge       205 non-null    bool
 30  CarCompanyName_honda       205 non-null    bool
 31  CarCompanyName_isuzu       205 non-null    bool
 32  CarCompanyName_jaguar      205 non-null    bool
 33  CarCompanyName_mazda       205 non-null    bool
 34  CarCompanyName_mercury     205 non-null    bool
 35  CarCompanyName_mitsubishi  205 non-null    bool
 36  CarCompanyName_nissan      205 non-null    bool
 37  CarCompanyName_peugeot     205 non-null    bool
 38  CarCompanyName_plymouth    205 non-null    bool
 39  CarCompanyName_porsche     205 non-null    bool
 40  CarCompanyName_renault     205 non-null    bool
 41  CarCompanyName_saab        205 non-null    bool
 42  CarCompanyName_subaru      205 non-null    bool
 43  CarCompanyName_toyota      205 non-null    bool
 44  CarCompanyName_volkswagen  205 non-null    bool
 45  CarCompanyName_volvo       205 non-null    bool
dtypes: bool(36), float64(4), int64(6)
memory usage: 23.4 KB

In [40]:
from sklearn.model_selection import train_test_split # type: ignore
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=10)

In [41]:
#X['drivewheel'].value_counts()
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 46 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   symboling                  205 non-null    int64
 1   wheelbase                  205 non-null    float64
 2   carlength                  205 non-null    float64
 3   carwidth                   205 non-null    float64
 4   carheight                  205 non-null    float64
 5   curbweight                 205 non-null    int64
 6   horsepower                 205 non-null    int64
 7   peakrpm                    205 non-null    int64
 8   citympg                    205 non-null    int64
 9   highwaympg                 205 non-null    int64
 10  fueltype_diesel            205 non-null    bool
 11  fueltype_gas               205 non-null    bool
 12  carbody_convertible        205 non-null    bool
 13  carbody_hardtop            205 non-null    bool
 14  carbody_hatchback          205 non-null    bool
 15  carbody_sedan              205 non-null    bool
 16  carbody_wagon              205 non-null    bool
 17  enginetype_dohc            205 non-null    bool
 18  enginetype_dohcv           205 non-null    bool
 19  enginetype_l               205 non-null    bool
 20  enginetype_ohc             205 non-null    bool
 21  enginetype_ohcf            205 non-null    bool
 22  enginetype_ohcv            205 non-null    bool
 23  enginetype_rotor           205 non-null    bool
 24  CarCompanyName_alfa-romeo  205 non-null    bool
 25  CarCompanyName_audi        205 non-null    bool
 26  CarCompanyName_bmw         205 non-null    bool
 27  CarCompanyName_buick       205 non-null    bool
 28  CarCompanyName_chevrolet   205 non-null    bool
 29  CarCompanyName_dodge       205 non-null    bool
 30  CarCompanyName_honda       205 non-null    bool
 31  CarCompanyName_isuzu       205 non-null    bool
 32  CarCompanyName_jaguar      205 non-null    bool
 33  CarCompanyName_mazda       205 non-null    bool
 34  CarCompanyName_mercury     205 non-null    bool
 35  CarCompanyName_mitsubishi  205 non-null    bool
 36  CarCompanyName_nissan      205 non-null    bool
 37  CarCompanyName_peugeot     205 non-null    bool
 38  CarCompanyName_plymouth    205 non-null    bool
 39  CarCompanyName_porsche     205 non-null    bool
 40  CarCompanyName_renault     205 non-null    bool
 41  CarCompanyName_saab        205 non-null    bool
 42  CarCompanyName_subaru      205 non-null    bool
 43  CarCompanyName_toyota      205 non-null    bool
 44  CarCompanyName_volkswagen  205 non-null    bool
 45  CarCompanyName_volvo       205 non-null    bool
dtypes: bool(36), float64(4), int64(6)
memory usage: 23.4 KB

In [42]:
from sklearn.linear_model import LinearRegression # type: ignore
lr = LinearRegression()
lr.fit(X_train,y_train)
lr.score(X_test,y_test)

0.8385908278663613

In [43]:
from sklearn.tree import DecisionTreeRegressor # type: ignore
dt= DecisionTreeRegressor()
dt.fit(X_train,y_train)
dt.score(X_test,y_test)

0.809682132964846

In [44]:
from sklearn.ensemble  import RandomForestRegressor # type: ignore
rm = RandomForestRegressor()
rm.fit(X_train,y_train)
rm.score(X_test,y_test)

0.8748982255614903

In [45]:
from sklearn.model_selection import ShuffleSplit # type: ignore
from sklearn.model_selection import cross_val_score # type: ignore

cv = ShuffleSplit(n_splits=5,test_size=0.2,random_state=0)

cross_val_score(LinearRegression(),X,y,cv=cv)

array([0.81364735, 0.88723086, 0.93755937, 0.86843285, 0.95286602])

In [46]:
from sklearn.model_selection import GridSearchCV # type: ignore

from sklearn.linear_model import Lasso # type: ignore
from sklearn.tree import DecisionTreeRegressor # type: ignore

def find_best_model_using_gridsearchcv(X,y):
    algos = {
        'linear_regression' :{
            'model' : LinearRegression(),
            'params': {
                'copy_X' : [True,False],
                'fit_intercept' : [True,False],
                'n_jobs': [None,1,2,4],
                'positive': [True,False]
            }
        },
        'lasso': {
            'model': Lasso(),
            'params' :{
                'alpha': [1,2],
                'selection': ['random','cyclic']
            }
        },
        'decision_tree' :{
            'model':DecisionTreeRegressor(),
            'params':{
                'criterion':['mse','friedman_mse'],
                'splitter': ['best','random']
            }
        }
    }
    scores = []
    cv = ShuffleSplit(n_splits=5,test_size=0.2,random_state=0)
    for algo_name, config in algos.items():
        gs = GridSearchCV(config['model'],config['params'],cv=cv,return_train_score=False)
        gs.fit(X,y)
        scores.append({
            'model' : algo_name,
            'best_score': gs.best_score_,
            'best_params': gs.best_params_
        })
        
    return pd.DataFrame(scores,columns=['model','best_score','best_params'])


find_best_model_using_gridsearchcv(X,y)

,model,best_score,best_params
0,linear_regression,0.891947,"{'copy_X': True, 'fit_intercept': True, 'n_job..."
1,lasso,0.879633,"{'alpha': 1, 'selection': 'random'}"
2,decision_tree,0.847190,"{'criterion': 'friedman_mse', 'splitter': 'ran..."

In [47]:
def predict_price(CarCompanyName, fueltype, highwaympg, citympg, peakrpm, horsepower, curbweight, carheight, carwidth, carlength, wheelbase, symboling, X, lr):
    # Find the indices of the categorical variables
    CarCompanyName_index = np.where(X.columns == 'CarCompanyName_' + CarCompanyName)[0][0]
    fueltype_index = np.where(X.columns == 'fueltype_' + fueltype)[0][0]

    # Create feature vector
    x = np.zeros(len(X.columns))
    x[0] = symboling
    x[1] = wheelbase
    x[2] = carlength
    x[3] = carwidth
    x[4] = carheight
    x[5] = curbweight
    x[6] = horsepower
    x[7] = peakrpm
    x[8] = citympg
    x[9] = highwaympg
    
    # Set categorical variable indices to 1
    if CarCompanyName_index >= 0:
        x[CarCompanyName_index] = 1
    if fueltype_index >= 0:
        x[fueltype_index] = 1

  
    return lr.predict([x])[0]

In [48]:
from sklearn.model_selection import cross_val_score, train_test_split # type: ignore
def classify(model, X, y):
    x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)
    # train the model
    model.fit(x_train, y_train)
    print("Accuracy:", model.score(x_test, y_test) * 100)
    
    # cross-validation
    score = cross_val_score(model, X, y, cv=5)
    print("Score:", np.mean(score)*100)

In [49]:
from pandas import DataFrame


DataFrame(data)

,symboling,fueltype,carbody,wheelbase,carlength,carwidth,carheight,curbweight,enginetype,horsepower,peakrpm,citympg,highwaympg,price,CarCompanyName
0,3,gas,convertible,88.6,168.8,64.1,48.8,2548,dohc,111,5000,21,27,13495.0,alfa-romeo
1,3,gas,convertible,88.6,168.8,64.1,48.8,2548,dohc,111,5000,21,27,16500.0,alfa-romeo
2,1,gas,hatchback,94.5,171.2,65.5,52.4,2823,ohcv,154,5000,19,26,16500.0,alfa-romeo
3,2,gas,sedan,99.8,176.6,66.2,54.3,2337,ohc,102,5500,24,30,13950.0,audi
4,2,gas,sedan,99.4,176.6,66.4,54.3,2824,ohc,115,5500,18,22,17450.0,audi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,gas,sedan,109.1,188.8,68.9,55.5,2952,ohc,114,5400,23,28,16845.0,volvo
201,-1,gas,sedan,109.1,188.8,68.8,55.5,3049,ohc,160,5300,19,25,19045.0,volvo
202,-1,gas,sedan,109.1,188.8,68.9,55.5,3012,ohcv,134,5500,18,23,21485.0,volvo
203,-1,diesel,sedan,109.1,188.8,68.9,55.5,3217,ohc,106,4800,26,27,22470.0,volvo
204,-1,gas,sedan,109.1,188.8,68.9,55.5,3062,ohc,114,5400,19,25,22625.0,volvo

In [50]:
from sklearn.linear_model import LinearRegression # type: ignore

line_classification=LinearRegression()
line_classification.fit(X_train, y_train)
y_prediction=line_classification.predict(X_test)

from sklearn.metrics import mean_squared_error # type: ignore
mean_squared_error(y_test, y_prediction)

8342201.674045294

In [51]:
predict_price

In [52]:
predicted_price = predict_price('audi', 'gas',20,20,3000,100,2000,45.6,66.5,234.5,75.5,7,X,rm)
print("Predicted price:", predicted_price)

Predicted price: 10973.035

In [53]:
predict_price= predict_price('alfa-romeo','diesel',27,21,5000,111,2548,48.8,64.1,168.8,88.6,3,X,rm)
print("Predicted price:", predicted_price)

Predicted price: 10973.035